/*
=============================================
Layout - General
=============================================
*/
*, *:before, *:after {
  box-sizing: border-box;
}

.header-container{
  width: 100%;
  overflow: auto;
  clear: both;
}

.container {
  width: 100%;
  overflow: auto;
  margin-bottom: 10px;
  background-image: url("../images/wavegrid.png");
  background-repeat: repeat;
  clear: both;
}

/*
=============================================
Layout - header + nav
=============================================
*/
header{
  margin-left: 50px;
  /*padding-left: 20px;*/
  padding: 20px;
  background-color: #4aaaa5;
  float: left;
}
nav {
  /*display: block;*/
  float: left;
}
/*nav > ul {
  list-style: none;
  background-color: #444;
  text-align: center;
}*/
nav > ul > li {
  display: inline-block;
  margin-left: 10px;
}
nav > ul > li > a {
  display: inline-block;
  text-decoration: none;
  /*height: 30px;*/
  padding: 20px 10px 20px 10px;
}
nav > ul > li > a:hover {
  cursor: pointer;
}

/*
=============================================
Section Styling
=============================================
*/
section{
  background: white;
  width: 650px;
  padding: 20px;
  overflow: auto;
  float: left;
  margin-top: 25px;
  margin-left: 50px;
}

/*
=============================================
Aside Styling
=============================================
*/
aside {
  background: white;
  width: 270px;
  float: left;
  margin-top: 25px;
  margin-left: 50px;
  padding: 20px;
}
aside > h3 {
  text-align: center;
}
.logo-container{
  width: 100%;
  text-align: center;
}
.logo-container > a > img {
  display: inline-block;
  margin: 5px;
}

/*
=============================================
footer Styling
=============================================
*/
footer{
  clear: both;
  background: #666666;
  padding: 10px 50px 10px 50px;
  text-align: center;
  color: white;
}

/*
=============================================
Typography
=============================================
*/
body {
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 16px;
}
h1,h2,h3,h4,h5,h6 {
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
}
h1{
  font-size: 28px;
  line-height: 20px;
}
h2{
  font-size: 20px;
  line-height: 14px;
}
#logo-name {
  color: white;
  font-weight: 600;
}

/*
=============================================
Visualization / Debugging
=============================================
*/
.container, footer{
    border: 1px solid black;
}
section{
  border: 0.5px dotted black;
}
aside{
  border: 2px double yellow;
}
img {
  border: 2px dashed brown;
}